html {
    scroll-behavior: smooth;
    scroll-padding: 40px;
}

#logo:hover {
    background-color: white;
}

#map {
    height: 495px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.navbar {
    box-shadow: 0 1px 40px rgb(0 0 0 / 0.1);
}

.back-image {
    position: fixed;
    z-index: -999;
    opacity: 10%;
    margin-left: -200px;
    margin-top: -200px;

}

@media only screen and (max-width: 600px) {
    .back-image {       
        margin-left: -110px;
        margin-top: -110px;
    
    }
}

.g-recaptcha {
    transform:scale(0.77);
    transform-origin:0 0;
}

.logo-slider img:hover {
    transform: scale(1.1);
    transition: transform 0.35s;
}

.media+.media {
    border-top: none;
}

.is-divider {
    border-top: 1px solid rgba(219,219,219,.5);
    margin-top: 1rem;
    padding-top: 1rem;
}

.navbar-item img {
    max-height: 2.25rem;
}
